# langchain
# # numpy
# huggingface_hub
# transformers==4.30
# unstructured
# unstructured[pdf]
# sentence-transformers
# # faiss-gpu # for GPU support
# faiss-cpu
# torch
# accelerate
# # huggingface-cli
# bitsandbytes
# accelerate
# xformers

faiss-cpu
langchain==0.0.225
ctransformers==0.2.5
sentence-transformers==2.2.2